<div class='' id='aboutme'>
	<div class='row' id='self-info'>

		<div class='col-sm-4' id='self-image'>
			<div>{{message}}</div>
			<div class='self-image' ng-model="myimage">
				<img ng-src="/UMBC/ServerFiles/uploadimages/{{myimage}}" shows-message-when-hovered message='Hello' style="border:none; width: 220px; height: 200px;"> <!-- shows-message-when-hovered, this is a custom directive -->

				<div class="container">
				<div class="edit-profile row">
					<div class="">
						<input type="file" file-input="files" /> 
					</div>
					<div class="btn btn-info col-sm-5" ng-click="changeprofile()">
						Upload Profile
					</div>
				</div>
				</div>
			</div>
		</div>

		<!-- biograhpy container -->
		<div class='container'  id='add-container'>
			<div class='col-sm-8' id='list-adds'>
				<strong>My Services</strong>

				<!-- list of adds if there is any -->
				<ul>
					
					<li ng-repeat="add in my_adds">
						<div class="panel panel-primary">
							<div class="panel-heading">
								{{add.title}}
							</div>
							<div class="panel-body">
								{{add.description}}
							</div>
						</div>
					</li>
				</ul>
				<!-- end list of adds if there is any -->
			</div>

		</div>
	</div>
</div>
