.sign{
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 64px;
}

#barterimage{
	background-image: url('barter.jpg');
	background-repeat:no-repeat;
		
}

.container{
	margin-top: 50px;
}

.group{
	
}

#background_color{
	background-color: #FFE599;
}