/* Base Elements */

/* Drake Gao part */
body {
	margin-top: 70px;
}

#nav-row h2 {
	margin-top: 10px;
	font-size: 22px;
	color: #ffffff;
}

#signup-input-1, #login, #login-btn, #login-cancel, #signup-link, #self-image, #add-container {
	margin-top: 20px;
}

#index-login-link {
	margin-top: 10px;
}

#index-login-link strong {
	font-size: 18px;
}

span.glyphicon-log-out {
	margin-top: 10px;
    font-size: 2.2em;
}

#login {
	float: right;
	margin-top: 10px;
	font-size: 18px;
}

div#user_name {
	margin-top: 10px;
	font-size: 18px;
	color: #ffffff;
}

#self-image {

}

.my-jumbot {
	padding-bottom: 10px;
	padding-top: 10px;
	padding: auto;
	/*margin-bottom: 10px;*/

}

.my-ad-des {
	height: 130px;
}

.my-title h3, .ad-image{
	margin-top: 20px;
}

.del-btn{
	/*margin-top: 10px;*/
	/*margin-bottom: 10px;*/
	min-width: 80px;
    max-width: 80px;	
}

.ad-image {
	margin-right: 10px;
}

.my-title {
	margin-top: 0px;
}

.set-new-ads {
	cursor: pointer;
}

/* Zarfar part css */
.sign{
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 64px;
}

#barterimage{
	background-image: url('barter.jpg') 50px 50px;
	background-repeat:no-repeat;
		
}
