/* Base Elements */

body {
	margin-top: 70px;
}

#nav-row h2 {
	margin-top: 10px;
	font-size: 22px;
	color: #ffffff;
}

#signup-input-1, #login, #login-btn, #login-cancel, #signup-link {
	margin-top: 20px;
}

#index-login-link {
	margin-top: 10px;
}

#index-login-link strong {
	font-size: 18px;
}
